Coding Exercise

- Data source: free API access from Coinapi.io
- API documentation: https://docs.coinapi.io/

### Set up

In [225]:
import requests
import numpy as np
import pandas as pd
import datetime as dt
import pytz
import time
import gdax

pd.options.mode.chained_assignment = None

In [196]:
'''
# limit range from 100 to 10000
limit = 1000

# Create trades table storing all trades
trades = pd.DataFrame()

# free api key (limit: 100 request/day) can be requested at: https://www.coinapi.io/pricing?apikey
api_key = '8E41560E-D4D2-49E2-9BDE-AD7ABC04005C' 

url = 'https://rest.coinapi.io/v1/trades/COINBASE_SPOT_BTC_USD/latest?limit=' + str(limit)
headers = {'X-CoinAPI-Key' : api_key}
'''

"\n# limit range from 100 to 10000\nlimit = 1000\n\n# Create trades table storing all trades\ntrades = pd.DataFrame()\n\n# free api key (limit: 100 request/day) can be requested at: https://www.coinapi.io/pricing?apikey\napi_key = '8E41560E-D4D2-49E2-9BDE-AD7ABC04005C' \n\nurl = 'https://rest.coinapi.io/v1/trades/COINBASE_SPOT_BTC_USD/latest?limit=' + str(limit)\nheaders = {'X-CoinAPI-Key' : api_key}\n"

In [197]:
'''
url = 'http://marketdata.wavesplatform.com/api/trades/BTC/USD/500'
response = requests.get(url)
trades_new = pd.DataFrame(response.json())
trades_new['datetime'] = trades_new['timestamp'].apply(lambda t: dt.datetime.utcfromtimestamp(t/1000))
trades_new.head()
'''

"\nurl = 'http://marketdata.wavesplatform.com/api/trades/BTC/USD/500'\nresponse = requests.get(url)\ntrades_new = pd.DataFrame(response.json())\ntrades_new['datetime'] = trades_new['timestamp'].apply(lambda t: dt.datetime.utcfromtimestamp(t/1000))\ntrades_new.head()\n"

In [198]:
# Stole code from https://github.com/danpaquin/gdax-python

#
# GDAX/PublicClient.py
# Daniel Paquin
#
# For public requests to the GDAX exchange

import requests


class PublicClient(object):
    """GDAX public client API.
    All requests default to the `product_id` specified at object
    creation if not otherwise specified.
    Attributes:
        url (Optional[str]): API URL. Defaults to GDAX API.
    """

    def __init__(self, api_url='https://api.gdax.com', timeout=30):
        """Create GDAX API public client.
        Args:
            api_url (Optional[str]): API URL. Defaults to GDAX API.
        """
        self.url = api_url.rstrip('/')
        self.timeout = timeout

    def _get(self, path, params=None):
        """Perform get request"""

        r = requests.get(self.url + path, params=params, timeout=self.timeout)
        # r.raise_for_status()
        return r.json()

    def get_products(self):
        """Get a list of available currency pairs for trading.
        Returns:
            list: Info about all currency pairs. Example::
                [
                    {
                        "id": "BTC-USD",
                        "display_name": "BTC/USD",
                        "base_currency": "BTC",
                        "quote_currency": "USD",
                        "base_min_size": "0.01",
                        "base_max_size": "10000.00",
                        "quote_increment": "0.01"
                    }
                ]
        """
        return self._get('/products')

    def get_product_order_book(self, product_id, level=1):
        """Get a list of open orders for a product.
        The amount of detail shown can be customized with the `level`
        parameter:
        * 1: Only the best bid and ask
        * 2: Top 50 bids and asks (aggregated)
        * 3: Full order book (non aggregated)
        Level 1 and Level 2 are recommended for polling. For the most
        up-to-date data, consider using the websocket stream.
        **Caution**: Level 3 is only recommended for users wishing to
        maintain a full real-time order book using the websocket
        stream. Abuse of Level 3 via polling will cause your access to
        be limited or blocked.
        Args:
            product_id (str): Product
            level (Optional[int]): Order book level (1, 2, or 3).
                Default is 1.
        Returns:
            dict: Order book. Example for level 1::
                {
                    "sequence": "3",
                    "bids": [
                        [ price, size, num-orders ],
                    ],
                    "asks": [
                        [ price, size, num-orders ],
                    ]
                }
        """

        # Supported levels are 1, 2 or 3
        level = level if level in range(1, 4) else 1
        return self._get('/products/{}/book'.format(str(product_id)), params={'level': level})

    def get_product_ticker(self, product_id):
        """Snapshot about the last trade (tick), best bid/ask and 24h volume.
        **Caution**: Polling is discouraged in favor of connecting via
        the websocket stream and listening for match messages.
        Args:
            product_id (str): Product
        Returns:
            dict: Ticker info. Example::
                {
                  "trade_id": 4729088,
                  "price": "333.99",
                  "size": "0.193",
                  "bid": "333.98",
                  "ask": "333.99",
                  "volume": "5957.11914015",
                  "time": "2015-11-14T20:46:03.511254Z"
                }
        """
        return self._get('/products/{}/ticker'.format(str(product_id)))

    def get_product_trades(self, product_id, before='', after='', limit=100, result=[]):
        """List the latest trades for a product.
        Args:
             product_id (str): Product
             before (Optional[str]): start time in ISO 8601
             after (Optional[str]): end time in ISO 8601
             limit (Optional[int]): the desired number of trades (can be more than 100,
                          automatically paginated)
             results (Optional[list]): list of results that is used for the pagination
        Returns:
             list: Latest trades. Example::
                 [{
                     "time": "2014-11-07T22:19:28.578544Z",
                     "trade_id": 74,
                     "price": "10.00000000",
                     "size": "0.01000000",
                     "side": "buy"
                 }, {
                     "time": "2014-11-07T01:08:43.642366Z",
                     "trade_id": 73,
                     "price": "100.00000000",
                     "size": "0.01000000",
                     "side": "sell"
         }]
        """
        url = self.url + '/products/{}/trades'.format(str(product_id))
        params = {}

        if before:
            params['before'] = str(before)
        if after:
            params['after'] = str(after)
        if limit and limit < 100:
            # the default limit is 100
            # we only add it if the limit is less than 100
            params['limit'] = limit

        r = requests.get(url, params=params)
        # r.raise_for_status()

        result.extend(r.json())

        if 'cb-after' in r.headers and limit is not len(result):
            # update limit
            limit = limit - len(result)
            if limit <= 0:
                return result

            # TODO: need a way to ensure that we don't get rate-limited/blocked
            # time.sleep(0.4)
            return self.get_product_trades(product_id=product_id, after=r.headers['cb-after'], limit=limit, result=result)

        return result

    def get_product_historic_rates(self, product_id, start=None, end=None,
                                   granularity=None):
        """Historic rates for a product.
        Rates are returned in grouped buckets based on requested
        `granularity`. If start, end, and granularity aren't provided,
        the exchange will assume some (currently unknown) default values.
        Historical rate data may be incomplete. No data is published for
        intervals where there are no ticks.
        **Caution**: Historical rates should not be polled frequently.
        If you need real-time information, use the trade and book
        endpoints along with the websocket feed.
        The maximum number of data points for a single request is 200
        candles. If your selection of start/end time and granularity
        will result in more than 200 data points, your request will be
        rejected. If you wish to retrieve fine granularity data over a
        larger time range, you will need to make multiple requests with
        new start/end ranges.
        Args:
            product_id (str): Product
            start (Optional[str]): Start time in ISO 8601
            end (Optional[str]): End time in ISO 8601
            granularity (Optional[str]): Desired time slice in seconds
        Returns:
            list: Historic candle data. Example::
                [
                    [ time, low, high, open, close, volume ],
                    [ 1415398768, 0.32, 4.2, 0.35, 4.2, 12.3 ],
                    ...
                ]
        """
        params = {}
        if start is not None:
            params['start'] = start
        if end is not None:
            params['end'] = end
        if granularity is not None:
            acceptedGrans = [60, 300, 900, 3600, 21600, 86400]
            if granularity not in acceptedGrans:
                newGranularity = min(acceptedGrans, key=lambda x:abs(x-granularity))
                print(granularity,' is not a valid granularity level, using',newGranularity,' instead.')
                granularity = newGranularity
            params['granularity'] = granularity

        return self._get('/products/{}/candles'.format(str(product_id)), params=params)

    def get_product_24hr_stats(self, product_id):
        """Get 24 hr stats for the product.
        Args:
            product_id (str): Product
        Returns:
            dict: 24 hour stats. Volume is in base currency units.
                Open, high, low are in quote currency units. Example::
                    {
                        "open": "34.19000000",
                        "high": "95.70000000",
                        "low": "7.06000000",
                        "volume": "2.41000000"
                    }
        """
        return self._get('/products/{}/stats'.format(str(product_id)))

    def get_currencies(self):
        """List known currencies.
        Returns:
            list: List of currencies. Example::
                [{
                    "id": "BTC",
                    "name": "Bitcoin",
                    "min_size": "0.00000001"
                }, {
                    "id": "USD",
                    "name": "United States Dollar",
                    "min_size": "0.01000000"
                }]
        """
        return self._get('/currencies')

    def get_time(self):
        """Get the API server time.
        Returns:
            dict: Server time in ISO and epoch format (decimal seconds
                since Unix epoch). Example::
                    {
                        "iso": "2015-01-07T23:47:25.201Z",
                        "epoch": 1420674445.201
                    }
        """
        return self._get('/time')

In [ ]:
def __init__(self, api_url='https://api.gdax.com', timeout=30):
        """Create GDAX API public client.
        Args:
            api_url (Optional[str]): API URL. Defaults to GDAX API.
        """
        self.url = 'https://api.gdax.com'.rstrip('/')
        self.timeout = timeout

In [441]:
'https://api.gdax.com'.rstrip('/')

'https://api.gdax.com'

In [538]:
def get_product_trades(product_id, before='', after='', limit=100, result=[]):
    """List the latest trades for a product.
    Args:
         product_id (str): Product
         before (Optional[str]): start time in ISO 8601
         after (Optional[str]): end time in ISO 8601
         limit (Optional[int]): the desired number of trades (can be more than 100,
                      automatically paginated)
         results (Optional[list]): list of results that is used for the pagination
    Returns:
         list: Latest trades. Example::
             [{
                 "time": "2014-11-07T22:19:28.578544Z",
                 "trade_id": 74,
                 "price": "10.00000000",
                 "size": "0.01000000",
                 "side": "buy"
             }, {
                 "time": "2014-11-07T01:08:43.642366Z",
                 "trade_id": 73,
                 "price": "100.00000000",
                 "size": "0.01000000",
                 "side": "sell"
     }]
    """
    url = 'https://api.gdax.com/products/{}/trades'.format(str(product_id))
    params = {}

    if before:
        params['before'] = str(before)
    if after:
        params['after'] = str(after)
    if limit and limit < 100:
        # the default limit is 100
        # we only add it if the limit is less than 100
        params['limit'] = limit

    r = requests.get(url, params=params)
    
    result.extend(r.json())

    if 'cb-after' in r.headers and limit is not len(result):
        # update limit
        limit = limit - len(result)
        if limit <= 0:
            return result

        # TODO: need a way to ensure that we don't get rate-limited/blocked
        time.sleep(0.4)
        return get_product_trades(product_id=product_id, after=r.headers['cb-after'], limit=limit, result=result)

    return result

In [564]:
trades_raw = get_product_trades(product_id='BTC-USD', limit=100)

In [565]:
trades_new = pd.DataFrame(trades_raw)

In [566]:
trades_new

             price  side        size                      time  trade_id
0    7291.87000000  sell  0.03361339  2018-07-19T02:10:56.812Z  46737960
1    7291.87000000  sell  6.19671337   2018-07-19T02:10:51.42Z  46737959
2    7291.87000000  sell  0.01694383  2018-07-19T02:10:51.259Z  46737958
3    7291.87000000  sell  0.53781426  2018-07-19T02:10:49.129Z  46737957
4    7291.86000000   buy  0.17402623  2018-07-19T02:10:44.921Z  46737956
5    7291.87000000  sell  0.03542963  2018-07-19T02:10:44.305Z  46737955
6    7291.86000000   buy  0.05776262  2018-07-19T02:10:44.097Z  46737954
7    7291.87000000  sell  0.00122948  2018-07-19T02:10:43.901Z  46737953
8    7291.87000000  sell  0.00846168  2018-07-19T02:10:41.416Z  46737952
9    7291.86000000   buy  0.00330000    2018-07-19T02:10:32.9Z  46737951
10   7291.87000000  sell  0.00334455   2018-07-19T02:10:31.87Z  46737950
11   7291.87000000  sell  0.06889155  2018-07-19T02:10:30.375Z  46737949
12   7291.86000000   buy  1.00737372  2018-07-19T02:10:28.532Z  46737948
13   7291.87000000  sell  0.00709712  2018-07-19T02:10:28.238Z  46737947
14   7291.86000000   buy  0.00934742  2018-07-19T02:10:27.954Z  46737946
15   7291.87000000  sell  0.04238483  2018-07-19T02:10:23.645Z  46737945
16   7291.87000000  sell  0.01367288  2018-07-19T02:10:22.194Z  46737944
17   7291.87000000  sell  0.00490000  2018-07-19T02:10:20.061Z  46737943
18   7291.87000000  sell  0.01312168  2018-07-19T02:10:18.556Z  46737942
19   7291.87000000  sell  0.05378170  2018-07-19T02:10:14.967Z  46737941
20   7291.87000000  sell  0.01596680  2018-07-19T02:10:11.883Z  46737940
21   7291.86000000   buy  0.02210216  2018-07-19T02:10:09.364Z  46737939
22   7291.87000000  sell  0.03159656   2018-07-19T02:10:09.19Z  46737938
23   7291.87000000  sell  0.00586900  2018-07-19T02:10:08.416Z  46737937
24   7291.86000000   buy  0.11147550  2018-07-19T02:10:03.805Z  46737936
25   7291.86000000   buy  0.33170120  2018-07-19T02:10:03.472Z  46737935
26   7291.87000000  sell  0.00696066   2018-07-19T02:10:00.54Z  46737934
27   7291.87000000  sell  0.01596680  2018-07-19T02:09:58.046Z  46737933
28   7291.86000000   buy  0.15390466  2018-07-19T02:09:57.288Z  46737932
29   7291.86000000   buy  0.00210000  2018-07-19T02:09:55.329Z  46737931
..             ...   ...         ...                       ...       ...
670  7292.46000000  sell  0.00198825  2018-07-19T02:11:27.081Z  46738008
671  7292.45000000  sell  0.00226253  2018-07-19T02:11:27.081Z  46738007
672  7292.44000000  sell  0.00185112  2018-07-19T02:11:27.081Z  46738006
673  7292.44000000  sell  0.00143960  2018-07-19T02:11:27.081Z  46738005
674  7292.43000000  sell  0.00212511  2018-07-19T02:11:27.081Z  46738004
675  7292.42000000  sell  0.00253679  2018-07-19T02:11:27.081Z  46738003
676  7292.41000000  sell  0.00116552  2018-07-19T02:11:27.081Z  46738002
677  7292.40000000  sell  0.00198812  2018-07-19T02:11:27.081Z  46738001
678  7292.39000000  sell  0.00116529  2018-07-19T02:11:27.081Z  46738000
679  7292.38000000  sell  0.00226261  2018-07-19T02:11:27.081Z  46737999
680  7292.37000000  sell  0.00226233  2018-07-19T02:11:27.081Z  46737998
681  7292.36000000  sell  0.00116534  2018-07-19T02:11:27.081Z  46737997
682  7292.35000000  sell  0.00130269  2018-07-19T02:11:27.081Z  46737996
683  7292.34000000  sell  0.00226227  2018-07-19T02:11:27.081Z  46737995
684  7292.33000000  sell  0.00212534  2018-07-19T02:11:27.081Z  46737994
685  7292.32000000  sell  0.00116526  2018-07-19T02:11:27.081Z  46737993
686  7292.31000000  sell  0.00171393  2018-07-19T02:11:27.081Z  46737992
687  7292.30000000  sell  0.00116547  2018-07-19T02:11:27.081Z  46737991
688  7292.29000000  sell  0.00239943  2018-07-19T02:11:27.081Z  46737990
689  7292.28000000  sell  0.00116526  2018-07-19T02:11:27.081Z  46737989
690  7292.27000000  sell  0.00377103  2018-07-19T02:11:27.081Z  46737988
691  7292.26000000  sell  0.00171391  2018-07-19T02:11:27.081Z  46737987
692  7291.87000000  sell  0.00000183  2018-07-19T02:11:27.081Z  46737986
693  7291.87000000  sell  0.00099817  2018-07-19T02:11:27.081Z  46737985
694  7291.87000000  sell  0.00100000  2018-07-19T02:11:27.081Z  46737984
695  7291.87000000  sell  0.00100000  2018-07-19T02:11:27.081Z  46737983
696  7291.87000000  sell  0.00100000  2018-07-19T02:11:27.081Z  46737982
697  7291.87000000  sell  0.29777053  2018-07-19T02:11:27.081Z  46737981
698  7291.87000000  sell  0.00100000  2018-07-19T02:11:27.081Z  46737980
699  7291.87000000  sell  0.00170000  2018-07-19T02:11:27.081Z  46737979

[700 rows x 5 columns]

In [567]:
len(trades_new['trade_id'].unique())

218

In [800]:
r = requests.get('https://api.gdax.com/products/BTC-USD/trades')
a = pd.DataFrame(r.json()).set_index('trade_id')
time.sleep(10)
r = requests.get('https://api.gdax.com/products/BTC-USD/trades')
b = pd.DataFrame(r.json()).set_index('trade_id')

ConnectionError: HTTPSConnectionPool(host='api.gdax.com', port=443): Max retries exceeded with url: /products/BTC-USD/trades (Caused by NewConnectionError('<requests.packages.urllib3.connection.VerifiedHTTPSConnection object at 0x11e8d2d68>: Failed to establish a new connection: [Errno 60] Operation timed out',))

In [632]:
merged = a.reset_index().merge(b.reset_index(), indicator=True, how='outer').set_index('trade_id')
merged

,price,side,size,time,_merge
trade_id,,,,,
46740987,7327.31000000,sell,0.00570384,2018-07-19T03:04:35.121Z,both
46740986,7327.31000000,sell,0.00448265,2018-07-19T03:04:34.905Z,both
46740985,7327.30000000,buy,0.10000000,2018-07-19T03:04:31.675Z,both
46740984,7327.31000000,sell,0.01631996,2018-07-19T03:04:23.535Z,both
46740983,7327.30000000,buy,0.03770655,2018-07-19T03:04:21.716Z,both
46740982,7328.46000000,buy,0.01250000,2018-07-19T03:04:21.716Z,both
46740981,7328.56000000,buy,0.02731009,2018-07-19T03:04:21.716Z,both
46740980,7328.56000000,buy,0.00098336,2018-07-19T03:04:21.716Z,both
46740979,7328.56000000,buy,0.00032664,2018-07-19T03:04:17.533Z,both
46740978,7328.56000000,buy,0.02683923,2018-07-19T03:04:17.533Z,both
46740977,7328.56000000,buy,0.01203413,2018-07-19T03:04:17.533Z,both
46740976,7328.57000000,sell,0.09987520,2018-07-19T03:04:12.15Z,both
46740975,7328.57000000,sell,0.03916905,2018-07-19T03:04:10.65Z,both
46740974,7328.56000000,buy,0.02610000,2018-07-19T03:04:05.449Z,both
46740973,7328.57000000,sell,0.01357727,2018-07-19T03:04:03.098Z,both
46740972,7328.57000000,sell,0.03916392,2018-07-19T03:04:02.104Z,both
46740971,7328.57000000,sell,0.02611316,2018-07-19T03:04:00.495Z,both
46740970,7328.56000000,buy,0.00279587,2018-07-19T03:03:59.973Z,both
46740969,7328.57000000,sell,0.00319202,2018-07-19T03:03:58.973Z,both
46740968,7328.56000000,buy,0.09607000,2018-07-19T03:03:58.159Z,both
46740967,7328.60000000,buy,0.00100000,2018-07-19T03:03:58.159Z,both
46740966,7328.60000000,buy,0.00193000,2018-07-19T03:03:58.159Z,both
46740965,7328.60000000,buy,0.03190000,2018-07-19T03:03:53.661Z,both
46740964,7328.61000000,sell,0.03916392,2018-07-19T03:03:49.165Z,both
46740963,7328.61000000,sell,0.00617995,2018-07-19T03:03:46.318Z,both
46740962,7328.61000000,sell,0.00033850,2018-07-19T03:03:46.318Z,both
46740961,7328.61000000,sell,0.00350000,2018-07-19T03:03:45.69Z,both
46740960,7329.57000000,sell,0.00486928,2018-07-19T03:03:43.66Z,both
46740959,7329.57000000,sell,0.00170502,2018-07-19T03:03:43.66Z,both
46740958,7329.57000000,sell,0.00252388,2018-07-19T03:03:43.66Z,both
...,...,...,...,...,...
46740911,7328.57000000,sell,0.02674872,2018-07-19T03:03:22.543Z,both
46740910,7328.57000000,sell,0.00251317,2018-07-19T03:03:22.098Z,both
46740909,7328.57000000,sell,0.01520934,2018-07-19T03:03:21.248Z,both
46740908,7328.57000000,sell,0.01317138,2018-07-19T03:03:19.248Z,both
46740907,7328.57000000,sell,0.06689012,2018-07-19T03:03:13.395Z,both
46740906,7328.57000000,sell,0.01317138,2018-07-19T03:03:08.822Z,both
46740905,7328.56000000,buy,1.85598582,2018-07-19T03:03:06.707Z,both
46740904,7328.56000000,buy,0.34107080,2018-07-19T03:03:06.321Z,both
46740903,7328.57000000,sell,0.00220000,2018-07-19T03:03:05.746Z,both
46740902,7328.57000000,sell,0.02535432,2018-07-19T03:03:02.431Z,both
46740901,7328.56000000,buy,4.63678955,2018-07-19T03:03:01.275Z,both
46740900,7328.56000000,buy,0.04000000,2018-07-19T03:03:01.275Z,both
46740899,7328.56000000,buy,1.00000000,2018-07-19T03:03:01.275Z,both
46740898,7328.56000000,buy,2.32321045,2018-07-19T03:03:01.275Z,both
46740897,7328.56000000,buy,0.05291041,2018-07-19T03:03:00.201Z,both
46740896,7328.57000000,sell,0.01078134,2018-07-19T03:02:59.885Z,both
46740895,7328.57000000,sell,0.00115944,2018-07-19T03:02:59.885Z,both
46740894,7328.57000000,sell,0.00307440,2018-07-19T03:02:59.885Z,both
46740893,7328.57000000,sell,0.01056718,2018-07-19T03:02:57.754Z,left_only
46740892,7328.57000000,sell,0.00191000,2018-07-19T03:02:57.754Z,left_only
46740891,7328.57000000,sell,0.01762377,2018-07-19T03:02:57.754Z,left_only
46740890,7328.57000000,sell,0.00380301,2018-07-19T03:02:57.103Z,left_only
46740889,7328.57000000,sell,0.00480000,2018-07-19T03:02:54.965Z,left_only
46740888,7328.57000000,sell,0.01390000,2018-07-19T03:02:44.044Z,left_only
46740993,7327.31000000,sell,0.03283565,2018-07-19T03:04:46.575Z,right_only
46740992,7327.30000000,buy,0.02715665,2018-07-19T03:04:46.101Z,right_only
46740991,7327.31000000,sell,0.00353207,2018-07-19T03:04:44.796Z,right_only
46740990,7327.31000000,sell,0.02675332,2018-07-19T03:04:43.997Z,right_only
46740989,7327.30000000,buy,0.00140000,2018-07-19T03:04:41.361Z,right_only
46740988,7327.31000000,sell,0.05500000,2018-07-19T03:04:38.736Z,right_only

In [685]:
merged[merged['_merge'] == 'right_only'].drop('_merge', axis=1)

                  price  side        size                      time
trade_id
46740993  7327.31000000  sell  0.03283565  2018-07-19T03:04:46.575Z
46740992  7327.30000000   buy  0.02715665  2018-07-19T03:04:46.101Z
46740991  7327.31000000  sell  0.00353207  2018-07-19T03:04:44.796Z
46740990  7327.31000000  sell  0.02675332  2018-07-19T03:04:43.997Z
46740989  7327.30000000   buy  0.00140000  2018-07-19T03:04:41.361Z
46740988  7327.31000000  sell  0.05500000  2018-07-19T03:04:38.736Z

In [696]:
def parties_assign(n_parties, table1, table2=None):
    """
    Assign buyers and sellers to each trade

    args:
        n_parties: total number of counter parties
        table: the table of trades
    """
    # print('parties_assign received table:')

    parties_list = []
    
    if table2 is not None:
        merged = table1.reset_index().merge(table2.reset_index(),
                                            indicator=True,
                                            how='outer').set_index('trade_id')
        new_rows = merged[merged['_merge'] == 'right_only'].drop('_merge',
                                                                 axis=1)
        
        if len(merged) > 0:
            
            for i in np.arange(len(new_rows)):
                parties_list.append(np.random.choice(10, 2, replace=False))
                
            parties_list = np.array(parties_list)
            
            new_rows['Buyer'] = parties_list[:,0]
            new_rows['Seller'] = parties_list[:,1]

            table1 = pd.concat([table1, new_rows])

    else:
        for i in np.arange(len(table1)):
            parties_list.append(np.random.choice(n_parties, 2, replace=False))
        
        parties_list = np.array(parties_list)

        table1['Buyer'] = parties_list[:, 0]
        table1['Seller'] = parties_list[:, 1]
                
    return table1

In [699]:
trade_data = parties_assign(10, a, b)
trade_data.head()

,price,side,size,time,Buyer,Seller
trade_id,,,,,,
46740987,7327.31000000,sell,0.00570384,2018-07-19T03:04:35.121Z,0,4
46740986,7327.31000000,sell,0.00448265,2018-07-19T03:04:34.905Z,9,8
46740985,7327.30000000,buy,0.10000000,2018-07-19T03:04:31.675Z,1,0
46740984,7327.31000000,sell,0.01631996,2018-07-19T03:04:23.535Z,3,7
46740983,7327.30000000,buy,0.03770655,2018-07-19T03:04:21.716Z,9,6

In [714]:
def iso_converter(s):
    """
    Convert a string to datetime object, and deal with exceptions possibly
    causing bugs.

    args:
        s: a string in iso format

    return: a datetime object
    """
    if len(s) == 20:
        t = dt.datetime.strptime(s, "%Y-%m-%dT%H:%M:%SZ")
    else:
        t = dt.datetime.strptime(s, "%Y-%m-%dT%H:%M:%S.%fZ")

    return t

In [813]:
trade_data['time'][46740987]
dt.timestamp('2018-07-19 03:04:35.121000')

AttributeError: module 'datetime' has no attribute 'timestamp'

In [715]:
trade_data['time'] = trade_data['time'].apply(iso_converter)

In [735]:
# Take the data of lastest hour
last_hr_data = trade_data[trade_data['time'] > dt.datetime.utcnow() - dt.timedelta(hours=2)]

# Calculate trade worth
last_hr_data['price'] = last_hr_data['price'].astype(float)
last_hr_data['size'] = last_hr_data['size'].astype(float)
last_hr_data['trade_worth'] = last_hr_data['price'] * last_hr_data['size']
last_hr_data.head()

,price,side,size,time,Buyer,Seller,vwap_value,trade_worth
trade_id,,,,,,,,
46740987,7327.31,sell,0.005704,2018-07-19 03:04:35.121,0,4,41.793804,41.793804
46740986,7327.31,sell,0.004483,2018-07-19 03:04:34.905,9,8,32.845766,32.845766
46740985,7327.30,buy,0.100000,2018-07-19 03:04:31.675,1,0,732.730000,732.730000
46740984,7327.31,sell,0.016320,2018-07-19 03:04:23.535,3,7,119.581406,119.581406
46740983,7327.30,buy,0.037707,2018-07-19 03:04:21.716,9,6,276.287204,276.287204

In [745]:
total_worth = last_hr_data.groupby('Buyer')['vwap_value'].sum() - trade_data.groupby('Seller')['vwap_value'].sum()
total_worth

Buyer
0    -3264.898311
1    21645.851495
2    53979.931280
3   -13902.415925
4      839.541497
5     -547.928920
6    -7515.188604
7     7357.365566
8   -50837.842481
9    -7754.415597
Name: vwap_value, dtype: float64

In [746]:
total_quantity = last_hr_data.groupby('Buyer')['size'].sum() - last_hr_data.groupby('Seller')['size'].sum()
total_quantity

Buyer
0   -0.445524
1    2.953646
2    7.365616
3   -1.897010
4    0.114533
5   -0.074765
6   -1.025463
7    1.003928
8   -6.936949
9   -1.058011
Name: size, dtype: float64

In [791]:
settlements = pd.DataFrame(total_worth/total_quantity, columns=['vwap_value'])
settlements['quantity'] = total_quantity
settlements.index.names = ['Party']

r = requests.get('https://api.gdax.com/products/{}/ticker'.format(str('BTC-USD')))
settlements['current_price'] = float(r.json()['price'])

settlements['settlement_obligation'] = (settlements['vwap_value'] - settlements['current_price']) * settlements['quantity']

settlements

        vwap_value  quantity  current_price  settlement_obligation
Party
0      7328.222926 -0.445524        7331.97               1.669411
1      7328.520342  2.953646        7331.97             -10.189068
2      7328.638192  7.365616        7331.97             -24.540817
3      7328.594794 -1.897010        7331.97               6.402799
4      7330.133294  0.114533        7331.97              -0.210363
5      7328.660573 -0.074765        7331.97               0.247430
6      7328.582877 -1.025463        7331.97               3.473368
7      7328.582485  1.003928        7331.97              -3.400819
8      7328.559206 -6.936949        7331.97              23.660505
9      7329.240769 -1.058011        7331.97               2.887555

In [787]:
old_settlements = settlements
old_settlements

        vwap_value  quantity  current_price  settlement_obligation
Party
0      7328.222926 -0.445524        7327.59              -0.281983
1      7328.520342  2.953646        7327.59               2.747899
2      7328.638192  7.365616        7327.59               7.720579
3      7328.594794 -1.897010        7327.59              -1.906104
4      7330.133294  0.114533        7327.59               0.291291
5      7328.660573 -0.074765        7327.59              -0.080042
6      7328.582877 -1.025463        7327.59              -1.018159
7      7328.582485  1.003928        7327.59               0.996383
8      7328.559206 -6.936949        7327.59              -6.723332
9      7329.240769 -1.058011        7327.59              -1.746532

In [795]:
new_obligations = settlements['settlement_obligation'] - old_settlements['settlement_obligation']
new_obligations

Party
0     1.951395
1   -12.936968
2   -32.261396
3     8.308903
4    -0.501654
5     0.327472
6     4.491527
7    -4.397202
8    30.383837
9     4.634087
Name: settlement_obligation, dtype: float64

In [797]:
balances = pd.DataFrame({'Party': range(10),
                                 'Initial Balance': 100000,
                                 'Current Balance': 100000}).set_index('Party')
balances

       Initial Balance  Current Balance
Party
0               100000           100000
1               100000           100000
2               100000           100000
3               100000           100000
4               100000           100000
5               100000           100000
6               100000           100000
7               100000           100000
8               100000           100000
9               100000           100000

In [798]:
balances['Current Balance'] = balances['Current Balance'] - new_obligations

In [799]:
balances

       Initial Balance  Current Balance
Party
0               100000     99998.048605
1               100000    100012.936968
2               100000    100032.261396
3               100000     99991.691097
4               100000    100000.501654
5               100000     99999.672528
6               100000     99995.508473
7               100000    100004.397202
8               100000     99969.616163
9               100000     99995.365913